body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.btnCorr:focus{
  background-color: #8ACB88;
}
.btnWrong:focus{
  background-color: #f44336 ;
}