body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  min-height: 100vh;
}

.btnCorr:focus{
  background-color: #8ACB88;
}
.btnWrong:focus{
  background-color: #f44336 ;
}

.codeAreaStyles{
  border: 1px black solid;
  padding: 1rem;
  min-Height: 200px;
  min-Width: 200px;
}

.answerButtonStyles{
  min-width: 200px;
  margin: 5px;
}