body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  min-height: 100vh;
}

.btnCorr:focus{
  background-color: #8ACB88;
}
.btnWrong:focus{
  background-color: #f44336 ;
}

.codeAreaStyles{
  border: 1px black solid;
  padding: 1rem;
  min-Height: 200px;
  min-Width: 200px;
  max-height: 200px;
}
.scrollBox{
  overflow: scroll;
}

.answerButtonStyles{
  min-width: 200px;
  margin: 5px;
  min-height: 5rem;
  font-size: 0.8rem;
}

.answerButtonText{
  text-overflow: unset;
}

.invis{
  display: none;
}

.visi{
  display: flex;
}

.inboxRow{
  margin-top: 20px;
  cursor: pointer;
}